<p>kendo-grid works!</p>
<button kendoButton (click)="buttonClick()">Kendo Button</button>

<kendo-grid
            [kendoGridBinding]="gridView"
            kendoGridSelectBy="Id"
            [selectedKeys]="mySelection"
            [pageSize]="20"
            [pageable]="true"
            [sortable]="true"
            [groupable]="true"
            [reorderable]="true"
            [resizable]="true"
            [height]="480"
            [columnMenu]="{ filter: true }"
        >
            <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event)"/>
                <button kendoGridExcelCommand type="button" icon="file-excel" style="float:right;">Export to Excel</button>
                <button kendoGridPDFCommand icon="file-pdf" style="float:right;">Export to PDF</button>
            </ng-template>
            <kendo-grid-checkbox-column
                [width]="45"
                [headerClass]="{'text-center': true}"
                [class]="{'text-center': true}"
                [resizable]="false"
                [columnMenu]="false"
                
            ></kendo-grid-checkbox-column>
            <kendo-grid-column-group title="Employee" [columnMenu]="false">
                <kendo-grid-column field="FullName" title="Contact Name" [width]="220">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="customer-photo" [ngStyle]="{'background-image' : photoURL(dataItem)}"></div>
                        <div class="customer-name">{{ dataItem.FullName }}</div>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="JobTitle" title="Job Title" [width]="220">
                </kendo-grid-column>
                <kendo-grid-column
                    field="Country"
                    title="Country"
                    [width]="100"
                    [class]="{'text-center': true}"
                    [resizable]="false"
                >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <img class="flag" [src]="flagURL(dataItem)" width="30">
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                    field="IsOnline"
                    title="Status"
                    [width]="100"
                    [class]="{'text-center': true}"
                    [resizable]="false"
                    filter="boolean"
                >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span *ngIf="dataItem.IsOnline === true" class="badge badge-success">Online</span>
                        <span *ngIf="dataItem.IsOnline === false" class="badge badge-danger">Offline</span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid-column-group>
            <kendo-grid-column-group title="Performance" [columnMenu]="false">
                <kendo-grid-column
                    field="Rating"
                    title="Rating"
                    [width]="110"
                    [resizable]="false"
                    filter="numeric"
                >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <app-rating
                            [value]="dataItem.Rating"
                            [max]="5"
                        ></app-rating>
                    </ng-template>
                </kendo-grid-column>
                
                <kendo-grid-column
                    field="Budget"
                    title="Budget"
                    [width]="100"
                    filter="numeric"
                >
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span [ngClass]="{'red text-bold': dataItem.Budget < 0}">{{ dataItem.Budget | currency }}</span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid-column-group>
            <kendo-grid-column-group title="Contacts" [columnMenu]="false">
                <kendo-grid-column field="Phone" title="Phone" [width]="130">
                </kendo-grid-column>
                <kendo-grid-column field="Address" title="Address" [width]="200">
                </kendo-grid-column>
            </kendo-grid-column-group>

            <kendo-grid-pdf fileName="Employees.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
        </kendo-grid>

